<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wustht.payment.mapper.PaymentMapper">
    <insert id="createPayment" parameterType="com.wustht.pojo.entities.Payment" useGeneratedKeys="true" keyProperty="id">
        insert into t_payment(serial)
        value(#{serial})
    </insert>

    <select id="getPaymentById" resultType="com.wustht.pojo.entities.Payment">
      select
        id,serial
      from
         t_payment
      where
        id = #{id}
    </select>

</mapper>

